*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace ;
}
.card-project{
    background-color: #36454F;
    margin-top: 40px;
    color: rgb(245, 215, 224);
    font-size: 20px;
    width: 1000px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 200px;
}
.content h1{
  background-color: rgb(185, 111, 133);   
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Github1,.linkToWebsite{
    border:2px solid rgb(245, 215, 224) ;
    border-radius: 4px;
    font-size: 30px;
    background-color: #36454F;
    color: rgb(245, 215, 224);
    margin-bottom: 10px;
}

.Github1:hover{
    color:rgb(185, 111, 133) ;
}
.linkToWebsite:hover{
    color:rgb(185, 111, 133) ;
}
footer{
    height: 40px;
    text-align: center;
    background-color: #36454F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 20px;
}