*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* .newcard{
    background-color: #36454F;
    color:rgb(245, 215, 224) ;
    margin-top: 40px;
} */
.newcard{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.btn{
    border:2px solid rgb(245, 215, 224) ;
    border-radius: 4px;
    font-size: 30px;
    background-color: #36454F;
    color: rgb(245, 215, 224);
    margin-top: 40px;
    align-items: center;
    
}
button:hover{
    color:rgb(228, 141, 168) ;
}
.skills{
    background-color: #36454F;
    color:  rgb(245, 215, 224);
    font-size: 20px;
    width: 800px;

}
.skills h2{
    color: aliceblue;
    background-color: rgb(228, 141, 168);
}
.conclusion{
    margin-top: 30px;
    font-size: 25px;
}
footer{
    
    height: 40px;
    text-align: center;
    background-color: #36454F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 20px;
}

/* .btn-hidden{
    visibility: hidden;
} */